.blog {
    padding-top: 50px;
    padding-bottom: 50px;

    @media(min-width: $lg) {
        padding-top: 100px;
    }
    
    .container {
    }

    &__title {
        position: relative;
        margin-bottom: 70px;
        @include font($primary, 100px, 100px, 700);

        &:before,
        &:after {
            content: "";
            position: absolute;
            height: 6px;
            background-color: $primary;
            border-radius: 10px;
        }
        
        &:before {
            top: 110%;
            left: 10px;
            width: 350px;
            transform: rotate(2deg);
        }

        &:after {
            top: 130%;
            left: 40px;
            width: 400px;
            transform: rotate(3deg);
        }
    }

    &__list {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        margin-top: 100px;

        @media(min-width: $lg) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 30px;

        @media(min-width: $sm) {
            flex-direction: row;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $primary;
            border-radius: 10px;
        }

        .blog__article-image {
            position: relative;
            z-index: 2;
            min-width: 280px;
            max-width: 300px;
        }

        .blog__article-title {
            position: relative;
            @include font($primary, 25px, 30px, 700);

            @media(min-width: $sm) {
                &--0:before {
                    content: "";
                    position: absolute;
                    top: -30px;
                    left: 120px;
                    z-index: 1;
                    width: 150px;
                    height: 150px;
                    background-color: $primary-06;
                    border-radius: 50%;
                }

                &--2:after {
                    content: "";
                    position: absolute;
                    top: -70px;
                    left: -60px;
                    z-index: 1;
                    width: 150px;
                    height: 150px;
                    background-color: rgba(50, 181, 220, 0.0588235294);
                    border-radius: 0%;
                    transform: rotate(57deg);
                }
            }
        }

        .blog__article-date {
            display: inline-block;
            margin-top: 5px;
            @include font($dark, 12px, 15px, 400);
        }

        .blog__article-content {
            position: relative;
            max-height: 95px;
            margin-top: 30px;
            overflow: hidden;

            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 45px;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 50%);
            }
        }

        .blog__article-link {
            display: inline-block;
            margin-top: 30px;
        }
        
        &--2 {
            
            @media(min-width: $lg) {
                grid-row: 1 / 3;
                grid-column: 2 / 3;
                flex-direction: column;
                padding-left: 50px;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 3px;
                    height: calc(100% - 30px);
                    background-color: $primary;
                    border-radius: 10px;
                }
    
                &:after {
                    left: 50px;
                    width: calc(100% - 50px);
                }

                .blog__article-image {
                    max-width: 100%;
                    max-height: 400px;
    
                    img {
                        height: 100%;
                        object-fit: contain;
                    }
                }
    
                .blog__article-title {
                    @include font($primary, 30px, 36px, 700);
                }
    
                .blog__article-date {
                    display: inline-block;
                    @include font($dark, 14px, 16px, 400);
                }
    
                .blog__article-content {
                    max-height: 130px;
                }
            }
        }
    }
}
