// === COLORS ===
$primary:#27a3d8;
$primary-80: #27a3d8cc;
$white: #fff;
$white-80: #ffffffcc;
$dark: #282028;
$dark-80:#282028cc;


// #23b46e

// #2E958C text

// #f1ede2 white

// #D64E52

// #FC712B

// #e45149