// === APP ===
// Reset
@import "core/reset";
// // Fonts
// @import "./scss/core/fonts";
// Variables
@import "core/variables/variables";
// Mixins
@import "core/mixins/mixins";
// Common
@import "core/common";
// Plugins
// @import "plugins";
// Components
@import "components/components";
// // Pages
@import "pages/pages";

body {
    background-image: url('/images/app-room.jpg');
}